<%
  curated_items ||= []
  non_curated_items ||= []
  organisational_entities ||=[]
  collections ||=[]
  ordered_related_items ||=[]
%>
<div class="app-c-navigation-sidebar">
  <h2>Related content</h2>

  <% if ordered_related_items.present? %>
  <div class="navigation-group">
    <ul class="related-list">
      <% ordered_related_items.each do |item| %>
      <li><a href="<%= item[:path] %>"><%= item[:text] %></a></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% if curated_items.present? %>
  <div class="navigation-group">
    <ul class="navigation-links">
      <% curated_items.each do |item| %>
      <li>
        <a href="<%= item[:path] %>">
          <span class="contextual-title">
            <% if item[:type] == "mainstream" %>
              How to guide
            <% elsif item[:type] == "whitehall" %>
              Detailed guidance
            <% end %>
          </span>
          <%= item[:text] %>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% if non_curated_items.present? %>
  <div class="navigation-group">
    <ul class="navigation-links">
      <% non_curated_items.each do |item| %>
      <li>
        <a href="<%= item[:path] %>">
          <span class="contextual-title">
            <% if item[:type] == "policy" %>
              Guidance about
            <% end %>
          </span>
          <%= item[:text] %>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% if organisational_entities.present? %>
  <div class="navigation-group">
    <ul class="navigation-links">
      <% organisational_entities.each do |item| %>
      <li>
        <a href="<%= item[:path] %>">
          <span class="contextual-title">
            <% if item[:type] == "organisation" %>
              Guidance from
            <% elsif item[:type] == "role" %>
              Guidance from
            <% elsif item[:type] == "person" %>
              Guidance from
            <% elsif item[:type] == "worldwide_location" %>
              Guidance from
            <% end %>
          </span>
          <%= item[:text] %>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% if collections.present? %>
  <h2>In collections</h2>

  <div class="navigation-group">
    <ul class="collection-list">
      <% collections.each do |item| %>
      <li><a href="<%= item[:path] %>"><%= item[:text] %></a></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
