<%
  curated_items ||= []
  non_curated_items ||= []
  organisational_entities ||=[]
  collections ||=[]
  ordered_related_items ||=[]
%>
<div class="app-c-navigation-sidebar">
  <% if ordered_related_items.present? %>
  <h2>Related content</h2>

  <div class="navigation-group">
    <ul class="related-list">
      <% ordered_related_items.each do |item| %>
      <li><a href="<%= item[:path] %>"><%= item[:text] %></a></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% if curated_items.present? %>
  <h3>Explore the topic</h3>

  <div class="navigation-group">
    <ul class="navigation-links">
      <% curated_items.each do |item| %>
      <li><a href="<%= item[:path] %>"><%= item[:text] %></a></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% if organisational_entities.present? %>
  <h3>Detailed guidance from</h3>
  <div class="navigation-group">
    <ul class="navigation-links">
      <% organisational_entities.each do |item| %>
      <li><a href="<%= item[:path] %>"><%= item[:text] %></a></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% if collections.present? %>
  <h3>Collections</h3>
  <div class="navigation-group">
    <ul class="navigation-links">
      <% collections.each do |item| %>
      <li><a href="<%= item[:path] %>"><%= item[:text] %></a></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% if non_curated_items.present? %>
  <h3>Policy</h3>
  <div class="navigation-group">
    <ul class="navigation-links">
      <% non_curated_items.each do |item| %>
      <li><a href="<%= item[:path] %>"><%= item[:text] %></a></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
