<%= content_for :simple_header, true %>
<%= render 'shared/title_and_translations', content_item: @content_item %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/lead_paragraph', text: @content_item.description %>
  </div>
</div>

<%= render 'components/content-metadata', published: @content_item.published, last_updated: @content_item.updated, from: @content_item.from %>
<%= render 'components/notice', @content_item.withdrawal_notice_component  %>
<%= render 'shared/history_notice', content_item: @content_item %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'components/contents-list', contents: @content_item.contents %>
    <%= render 'document_collection_body' %>
  </div>
</div>
