<% content_for :simple_header, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'components/title-block', {
        title: @content_item.title,
        lead_paragraph: @content_item.description,
        published: @content_item.published,
        last_updated: @content_item.updated
      } %>
  </div>
</div>

<%= render 'components/important-metadata', {
    items: @content_item.metadata[:other]
  } %>

<%= render 'shared/metadata', content_item: @content_item %>

<div class="grid-row sidebar-with-body">
  <div class="column-two-thirds">
    <% if @content_item.contents.any? %>
      <%= render 'components/contents-list', contents: @content_item.contents %>
    <% end %>
    <%= render 'govuk_component/govspeak', @content_item.govspeak_body %>

    <% if @content_item.continuation_link %>
      <%= render(
          'govuk_component/button',
          start: true,
          href: @content_item.continuation_link,
          text: "Find out more",
          info_text: @content_item.will_continue_on
      ) %>
    <% end %>
  </div>
</div>

<%= render 'shared/footer', @content_item.document_footer %>
