<%= content_for :page_class, @content_item.format.dasherize %>
<%= content_for :title, @content_item.title %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render partial: "govuk_component/title", locals: {
          title: @content_item.title,
          context:  @content_item.context } %>
    <%= render 'shared/multi_page_nav' %>
    <% if @content_item.show_metadata? %>
    <div>
      <%= render 'govuk_component/metadata', other: additional_metadata %>
    </div>
    <% end %>
    <% if @content_item.section_title %>

    <%= render "shared/section_title", locals: { title: @content_item.section_title } %>
    <% end %>
    <div>
      <%= render 'govuk_component/govspeak',
          content: @content_item.body,
          direction: page_text_direction %>
    </div>
<div class="content-block">
    <%= render 'shared/prev_next_nav', locals: { content_item: @content_item } %>
</div>

  </div>
  <div class="column-one-third">
    <%= render partial: 'govuk_component/related_items', locals: { sections: @content_item.related_links } %>
  </div>
</div>




